<article class="cancion">
    <h3>Cancion: <%= musicando.titulo %></h3> 
    <p>Duracion: <%= musicando.duracion %></p>
    <p>Creado el: <%= musicando.created_at %></p>
    <p>Actualizado el: <%= musicando.updated_at %></p>
    <p>Genero: <%= musicando.genero_id %></p>
    <p>Album: <%= musicando.album_id%></p>
    <p>Artista: <%= musicando.artista_id %></p>
</article>